@font-face
  font-family HFNSS
  src url("https://cdn.rawgit.com/Chadtech-Online-1/Chadtech-Online-1.github.io/master/HFNSS.ttf")


standardSize    = 2em
biggerSize      = 4em
wayBig          = 8em
cellWidth       = 50px
cellHeight      = 19px

pointColor      = #b0a69a

importantText   = #b39f4b
importanterText = #e3d34b

ignorable       = #807872
veryIgnorable   = #54574d

background      = #030907
actualBlack     = #000000

critical        = #f21d23
good            = #366317
prettyBlue      = #175cfe

::-webkit-input-placeholder 
   color veryIgnorable


body
  background background
  padding    0
  margin     0
  overflow hidden
  
.point
  font-family  HFNSS
  color        pointColor
  font-size    standardSize
  margin       0 
  &.tiny
    font-size 1.5em
  &.urgent
    color importantText
  &.urgenter
    color importanterText
  &.critical
    color critical
  &.very-ignorable
    color veryIgnorable
    
  
.root
  width  100%
  height 100%
  overflow hidden

.main
  margin            auto
  height            600px
  width             1056px
  position          relative
  top               50%
  transform         translateY(-50%)

.left-hud
  background-color actualBlack
  display inline-block
  width 156px
  height 131px
  left 0
  border-color pointColor
  border-width 2px 
  padding 11px
  border-style solid
  margin-right 11px
  
.key-example
  background-color actualBlack
  display inline-block
  width 178px
  height 178px
  border-color pointColor
  border-width 2px 
  // padding 11px
  border-style solid
  margin-right 11px
  position absolute
  left 0px
  // top 75px
  top 253px

.right-hud
  margin-left       11px
  display   inline-block
  width 248px

.mini-map-container
  background-color #030e0c 
  border-style solid
  border-width 2px
  border-color pointColor
  padding 11px
  width 222px
  height 222px
  float  right
  margin-bottom 11px
  div
    image
      image-rendering auto

.read-out-container
  background-color  actualBlack
  border-style      solid
  border-width      2px
  border-color      pointColor
  padding           11px
  width             222px
  height            296px
  float right

.read-out-column
  float left 
  width 111px 
  
.game-view
  background-color  actualBlack
  border-radius     50%
  width             600px
  height            600px
  display           inline-block
  overflow          hidden 
  border            2px solid pointColor
  
.pause
  padding 11px
  position absolute
  top 23px
  left 0px
  width 156px
  // height 17px
  height 192px
  float right
  background-color  actualBlack
  border-style      solid
  border-width      2px
  border-color      pointColor  

.velocity-gauge
  padding 11px
  z-index 5
  position fixed
  top 23px
  right 258px
  width 58px
  height 40px
  background-color  actualBlack
  border-style      solid
  border-width      2px
  border-color      pointColor
  
// img
//   image-rendering pixelated

// canvas
  // image-rendering pixelated
  
.paused-notice
  padding 11px
  z-index 5
  position fixed
  top 200px
  right 514px
  width 72px
  height 17px
  background-color  actualBlack
  border-style      solid
  border-width      2px
  animation-duration 800ms 
  animation-name blink 
  animation-iteration-count infinite
  animation-direction alternate 
  -webkit-animation blink 800ms infinite
  -webkit-animation-timing-function steps(2,end)
  
.died-notice
  padding 11px
  z-index 5
  position fixed
  top 200px
  right 371px
  width 352px
  height 38px
  background-color  actualBlack
  border-style      solid
  border-width      2px
  animation-duration 800ms 
  animation-name blink 
  animation-iteration-count infinite
  animation-direction alternate 
  -webkit-animation blink 800ms infinite
  -webkit-animation-timing-function steps(2,end)

.nav-markers
  z-index 5
  overflow visible
  position fixed
  top 0
  width 630px
  height 630px
  
@keyframes blink 
  from 
    border-color      pointColor
  to 
    border-color      critical
  
@-webkit-keyframes blink 
  from 
    border-color      pointColor
  to 
    border-color      critical
  
  